/*Primary Colors*/
*, *::before, *::after { box-sizing: border-box; margin: 0; }

body { background: #1c2431; color: #f9fafb; line-height: 1.58; font-family: "Open Sans", sans-serif; padding: 0; margin: 0; overflow-x: hidden; scroll-behavior: smooth; position: relative; }

h1, h2, h3, h4, h5, h6 { font-family: "Montserrat", sans-serif; font-weight: 400; margin: 0 0 20px 0; padding: 0; }

main#main { position: relative; padding: 2.2rem 0 0rem; width: 100vw; overflow: hidden; background: #181f2a; }

a { color: #65e2d9; transition: all 400ms; }

a:hover, a:active, a:focus { color: #65e2d9; outline: none; text-decoration: none !important; }

.row { display: -ms-flexbox; display: -webkit-flex; display: flex; flex-flow: row wrap; justify-content: space-between; }

section { width: 100vw; }

.btn-get-started { font-family: "Montserrat", sans-serif; font-weight: 400; font-size: 1rem; letter-spacing: 1px; display: inline-block; padding: 0.7rem 3.5rem; border-radius: 50px; transition: all 0.5s; margin: 0.2rem; color: white; background: linear-gradient(to right, #65e2d9, #339ecc); box-shadow: 0 2px 25px rgba(3, 6, 12, 0.424); z-index: 2; }

.btn-get-started:hover { background: white; color: #339ecc; transform: translate3d(0, -0.6rem, 0); box-shadow: 0 1px 30px rgba(3, 6, 12, 0.986); }

/* Back to top button */
.back-to-top { position: fixed; display: none; transform: scale(0); background: #65e2d9; color: white; width: 50px; height: 50px; text-align: center; padding: 0.5rem 0.6rem 0; line-height: 1.2; font-size: 2rem; border-radius: 50%; right: 1.2rem; bottom: 1.5rem; z-index: 11; transition: all 350ms; }

.back-to-top :hover { transform: scale(1.1); }

.back-to-top.show-toTop-btn { display: block; transform: scale(1); z-index: 100; }

.back-to-top i { padding-top: 0.9rem; color: white; }

/*------------------------------------
 Header 
*/
.header { padding: 1.2rem 0; height: 5.6rem; position: absolute; left: 0; top: 0; right: 0; transition: all 450ms; z-index: 990; }

.header.header-scrolled-view { background-color: #1c2431; position: fixed; left: 0; top: 0; right: 0; padding: 20px 0; height: 5.64rem; box-shadow: 0 1px 12px rgba(1, 12, 22, 0.14); }

.header .container-fluid { display: flex; justify-content: space-between; align-items: center; flex-flow: row wrap; width: 88%; height: 100%; position: relative; display: -webkit-flex; margin: 0 auto; transition: all 0.3s ease; }

/*------------------------------------
# Navigation Menu
*/
.nav-menu { display: flex; justify-content: space-between; align-items: flex-start; flex-flow: row nowrap; }

.nav-menu, .nav-menu * { padding: 0; list-style: none; }

.nav-menu ul { margin: 4px 0 0 0; padding: 10px; box-shadow: 0px 1px 30px rgba(5, 10, 20, 0.25); background: white; position: absolute; display: none; transform: scale(0); top: 100%; left: -10%; z-index: 99; transition: all 400ms ease; }

.nav-menu ul ul { margin: 0; }

.nav-menu ul li { min-width: 180px; transition: all 0.3s; }

.nav-menu ul li a { padding: 10px; color: #2e2c2c; transition: 0.3s; display: block; font-size: 0.92rem; text-transform: none; }

.nav-menu li { position: relative; white-space: nowrap; height: 96%; }

.nav-menu li:hover > ul { display: block; transform: scale(1); }

.nav-menu > li { margin-left: 10px; }

.nav-menu a { padding: 0 8px 10px 6px; text-decoration: none; display: inline-block; color: white; font-family: "Montserrat", sans-serif; font-weight: 500; font-size: 1rem; text-transform: capitalize; outline: none; }

/*------------------------------------
# Intro Section
--------------------------------------*/
#intro { /* display: table; */ width: 100vw; min-height: 106vh; padding: 1rem 0.5rem; max-height: max-content; overflow: hidden; position: relative; background: #1c2431; }

#intro::after { display: table; }

#intro .carousel-container { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; position: absolute; bottom: 0; top: 0; left: 0; right: 0; background: url(../images/illustration-intro.png) no-repeat; background-position: 50% 22%; background-size: 28%; /* padding-top: 5rem ; */ /* min-width: 100vw; */ /* height: 100vh; */ }

@media screen and (max-width: 1100px) { #intro .carousel-container { background-position: 50% 26%; background-size: 35%; } }

@media screen and (max-width: 800px) { #intro .carousel-container { background-position: 50% 21%; background-size: 42%; }
  #intro .carousel-container .carousel-content { margin-top: 19rem; }
  #intro .carousel-container h2 { width: 72%; }
  #intro .carousel-container p { width: 64%; } }

@media screen and (max-width: 700px) { #intro .carousel-container { background-position: 50% 21%; background-size: 60%; } }

@media screen and (max-width: 600px) { #intro .carousel-container { background-position: 50% 21%; background-size: 70%; }
  #intro .carousel-container h2 { width: 84%; }
  #intro .carousel-container p { width: 80%; } }

#intro .carousel-content { text-align: center; color: white; margin-top: 21rem; padding: 1.2rem 0.1rem; }

#intro h2 { width: 60%; margin: 0 auto 30px; font-size: 2rem; font-weight: 500; }

#intro p { width: 42%; margin: 0 auto 16px; }

/* Featured Services Section
--------------------------------*/
.featured-services { /* background: #000; */ width: 100vw; padding: 5.8rem 0 3.6rem 0; }

.featured-services .box { color: #f9fafb; text-align: center; margin: 0.8rem 0rem 1rem; }

.featured-services h4, .featured-services h4 a { font-weight: 600; margin: 1.14rem 0; font-size: 1.18rem; color: white; }

.featured-services h4 a:hover { color: #65e2d9 !important; }

.featured-services .description { font-size: 0.94rem; line-height: 24px; color: #f9fafb; width: 64%; margin: 0 auto; }

.facts { padding: 60px 0 20px 0; position: relative; }

.facts .row { display: -ms-flexbox; display: -webkit-flex; display: flex; flex-flow: row wrap; width: 98%; margin: 0 auto; }

.facts .text-part, .facts .img-part { display: flex; margin: 0.85rem 0; width: 50%; }

.facts .text-part { padding: 1.8rem 0 0 0.96rem; flex-flow: column nowrap; justify-content: center; }

.facts .text-part h4 { font-family: "Montserrat", sans-serif; font-size: 2rem; width: 60%; text-align: left; }

.facts .text-part a.works-links { text-decoration: underline solid var(--cyan); }

.facts .img-part img { width: 92%; height: 88%; align-self: center; justify-self: center; }

@media screen and (max-width: 780px) { .facts .row { justify-content: space-between; flex-flow: column nowrap; align-items: center; width: 98%; margin: 0 auto; }
  .facts .text-part { width: 100%; padding: 0.4rem; text-align: center; }
  .facts .text-part h4 { text-align: center !important; width: 100% !important; }
  .facts .text-part:last-of-type { order: 4 !important; }
  .facts .img-part:last-of-type { order: 3 !important; }
  .facts .img-part img { width: 96%; height: 98%; } }

.testimonial { padding: 80px 0; position: relative; }

.testimonial .row { width: 102%; justify-content: space-between; }

.testimonial .testimonial-item { background: #212b3d; z-index: 9; margin: 0 0rem 1.2rem; padding: 1.2rem 0.85rem; width: 32% !important; border-radius: 6px; box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.301); transition: all 300ms; }

.testimonial .testimonial-item:hover { box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.324), 0px 6px 14px rgba(0, 0, 0, 0.075); background: #242f43; }

.testimonial .testimonial-item .testimonial-wrap { font-size: 0.92rem; margin-bottom: 0.4rem; }

.testimonial .testimony-contact { display: flex; justify-content: space-between; align-items: center; flex-flow: row nowrap; width: 56%; /* height: 14%; */ }

.testimonial .testimony-contact img { width: 20%; height: 10%; border-radius: 50%; }

.testimonial .testimony-contact h5 { margin-bottom: 0; }

.testimonial .testimony-contact h5 a { font-size: 1rem !important; }

.testimonial .testimony-contact a { font-size: 0.8rem; color: white; }

.testimonial .testimony-contact a:hover { color: #65e2d9; }

@media screen and (max-width: 758px) { .testimonial .row { width: 102%; flex-flow: column wrap; justify-content: space-between; align-items: center; }
  .testimonial .testimonial-item { background: #202a3c; z-index: 9; padding: 1.4rem 1rem; width: 80% !important; } }

.quote { position: absolute; top: 6.5%; left: 7%; }

/* Call To Action Section
--------------------------------*/
.call-to-action { background: linear-gradient(rgba(0, 142, 99, 0.14), rgba(0, 0, 0, 0.1)), url(../img/call-to-action-bg.jpg) fixed center center; padding: 3rem 1rem; min-height: 32vh; position: relative; }

.call-to-action .container { display: flex; justify-content: space-between; align-items: center; flex-flow: column nowrap; display: flex; flex-flow: column nowrap; align-items: center; justify-content: space-between; text-align: center; padding: 2.2rem 2rem; position: absolute; bottom: -32%; left: 50%; transform: translateX(-50%); width: 66%; /* max-width: 90%; */ background: #1c2431; box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.324), 0px 6px 14px rgba(0, 0, 0, 0.075); z-index: 9; }

.call-to-action .container .row { margin: 0 auto; width: 148%; transform: translateX(-14.8%); /* border:1px solid cyan; */ align-items: center; }

.call-to-action .container .row input { display: inline-block; width: 65%; height: calc(2.25rem + 2px); padding: 0.375rem 0.75rem; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; border-radius: 0.8rem; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.call-to-action .container .row button { /* width: 50% !important; */ display: inline-block; font-size: .9rem; padding: .5rem 1rem; }

.call-to-action .container p { width: 84%; }

@media screen and (max-width: 940px) { .call-to-action .container { width: 88%; } }

@media screen and (max-width: 780px) { .call-to-action .container { width: 88%; }
  .call-to-action .container .row { width: 102%; transform: translateX(0); justify-content: space-around; }
  .call-to-action .container .row input { width: 50%; } }

/******************
Footer
**************/
.footer { padding: 8.4rem 0 3rem; width: 100vw; background: #0b1523; font-size: 15px; }

.footer div { margin-bottom: 1rem; }

.footer .footer-info div { display: flex; justify-content: space-between; align-items: flex-start; flex-flow: row nowrap; width: 100%; }

.footer .footer-info div p { line-height: 1.6; padding-left: 1rem; }

.footer i.ion-ios-location { width: 12%; font-size: 2rem; }

.footer .social-links a { font-size: 1.2rem; display: inline-block; /* background: #333; */ border: 1px solid #fff; color: #eee; line-height: 1; padding: 12px 0; margin-right: 4px; border-radius: 50%; text-align: center; width: 2.6rem; height: 2.6rem; transition: all 0.35s; }

.footer .social-links a:hover { border: none; background: #65e2d9; color: #f9fafb; }

.footer .footer-info div { display: flex; justify-content: space-between; align-items: flex-start; flex-flow: row nowrap; width: 100%; }

.footer .footer-info div p { line-height: 1.6; padding-left: 1rem; }

.footer h4 { font-size: 1rem; font-weight: bold; color: #fff; text-transform: uppercase; position: relative; padding-bottom: 12px; transition: all .5s ease; }

.footer h4:before, .footer h4:after { content: ''; position: absolute; left: 0; bottom: 0; height: 2px; }

.footer h4:before { right: 12%; background: #555; }

.footer h4:after { background: #65e2d9; width: 6rem; }

.footer h4:hover::after { width: 9rem; }

.footer .footer-links { margin-bottom: 30px; }

.footer .footer-links ul { list-style: none; padding: 0; margin: 0; }

.footer .footer-links ul i { padding-right: 8px; color: #ddd; }

.footer .footer-links ul li { border-bottom: 1px solid #333; padding: 10px 0; }

.footer .footer-links ul li:first-child { padding-top: 0; }

.footer .footer-links ul li:hover a { color: #65e2d9; }

.footer .footer-links ul a { color: #eee; }

.footer .footer-contact div { display: flex; justify-content: space-between; align-items: flex-start; flex-flow: row nowrap; text-align: left; font-size: 1.1rem; }

.footer .footer-contact div span:last-of-type { width: 84%; }

.footer .footer-contact div i { font-size: 1.4rem; }
