/* Call To Action Section
--------------------------------*/
.call-to-action {
  // background: linear-gradient(rgba(0, 142, 99, 0.14), rgba(0, 0, 0, 0.1)),
  // 	url(../img/call-to-action-bg.jpg) fixed center center;
  padding: 3rem 1rem;
  min-height: 50vh;
  position: relative;

  .container {
    @include flex(
      $justify-content: space-between,
      $align-items: center,
      $direction: column nowrap
    );
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 2.2rem 2rem;
    position: absolute;
    bottom: -32%;
    left: 50%;
    transform: translateX(-50%);
    width: 66%;
    /* max-width: 90%; */
    background: hsl(217, 28%, 15%);
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.324),
      0px 6px 14px rgba(0, 0, 0, 0.075);
    z-index: 9;

    .row {
      margin: 0 auto;
      width: 148%;
      transform: translateX(-14.8%);
      /* border:1px solid cyan; */
      align-items: center;

      input {
        display: inline-block;
        width: 65%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.8rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }

      button {
        /* width: 50% !important; */
        display: inline-block;
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
      }
    }

    p {
      width: 84%;
    }
  }

  @media screen and (max-width: 1050px) {
    .container {
      width: 78%;

      .row {
        width: 100%;
        transform: translateX(0);

        input {
          width: 48%;
        }
      }
    }
  }

  @media screen and (max-width: 940px) {
    .container {
      width: 88%;
    }
  }

  @media screen and (max-width: 780px) {
    .container {
      width: 90%;

      .row {
        width: 100%;
        transform: translateX(0);
        justify-content: space-around;

        input {
          width: 50%;
        }
      }
    }
  }
  @media screen and (max-width: 750px) {
    .container {
      width: 90%;

      input {
        width: 50%;
      }
    }
  }

  @media screen and (max-width: 620px) {
    .container {
      width: 96%;
      margin: 1rem 0;

      .row {
        width: 100%;
        transform: translateX(0);
        justify-content: space-around;

        input {
          width: 45%;
        }
      }
    }
  }

  @media screen and (max-width: 400px) {
    .container {
      margin: 1rem 0;

      input {
        width: 60%;
      }
    }
  }
}
