/* Featured Services Section
--------------------------------*/

.featured-services {
	/* background: #000; */
	width: 100vw;
	padding: 5.8rem 0 3.6rem 0;

	.box {
	color: $light;
	text-align: center;
	margin: 0.8rem 0rem 1rem;
}

h4{

	&,a{
	font-weight: 600;
	margin: 1.14rem 0;
	font-size: 1.18rem;
	color: $white;
	}

	a:hover {
		color: $cyan !important;
	}
}

.description {
	font-size: 0.94rem;
	line-height: 24px;
	color: $light;
	width: 64%;
	margin: 0 auto;
}
@media screen and (max-width:800px) {
	padding: 2rem 0 2rem 0;
}
}
