/*------------------------------------
# Intro Section
--------------------------------------*/
#intro {
  /* display: table; */
  width: 100vw;
//   height: 106vh;
  min-height: 106vh;
  padding: 1rem .5rem;
  max-height: max-content;
  overflow: hidden;
  position: relative;
  background: hsl(217, 28%, 15%);

  &::after {
  display: table;
}

.carousel-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: url(../images/illustration-intro.png) no-repeat;
  background-position: 50% 22%;
  background-size: 28%;
  /* padding-top: 5rem ; */
  /* min-width: 100vw; */
  /* height: 100vh; */

    @media screen and (max-width: 1100px) {
	  background-position: 50% 26%;
	  background-size: 35%;
	 
  }

  @media screen and (max-width: 800px) {
	  background-position: 50% 23%;
	  background-size: 50%;

	  .carousel-content {
  margin-top: 19rem;
}
	h2 {
  width: 72%;
}

p {
  width: 64%;
} 
  }

   @media screen and (max-width: 600px) {
	  background-position: 50% 21%;
	  background-size: 70%;
	 
  }


}

.carousel-content {
  text-align: center;
  color: var(--white);
  margin-top: 21rem;
  padding: 1.2rem .1rem;
}

h2 {
  width: 60%;
  margin: 0 auto 30px;
  font-size: 2rem;
  font-weight: 500;
}

p {
  width: 42%;
  margin: 0 auto 16px;
}

}
