/*------------------------------------
 Header 
*/

.header {
	padding: 1.2rem 0;
	height: 5.6rem;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	transition: all 450ms;
	z-index: 990;

	&.header-scrolled-view {
		background-color: $dark-blue;
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		padding: 20px 0;
		height: 5.64rem;
		box-shadow: 0 1px 12px rgba(1, 12, 22, 0.14);
	}

	.container-fluid {
		@include flex($justify-content: space-between, $align-items: center, $direction: row wrap);
		width: 88%;
		height: 100%;
		position: relative;
		display: -webkit-flex;
		margin: 0 auto;
		transition: all 0.3s ease;
	}
}

/*------------------------------------
# Navigation Menu
*/
.nav-menu {
	@include flex($justify-content: space-between);

	&,
	* {
		padding: 0;
		list-style: none;
	}

	ul {
		margin: 4px 0 0 0;
		padding: 10px;
		box-shadow: 0px 1px 30px hsla(220, 60%, 5%, 0.25);
		background: $white;
		position: absolute;
		display: none;
		transform: scale(0);
		top: 100%;
		left: -10%;
		z-index: 99;
		transition: all 400ms ease;

		ul {
			margin: 0;
		}

		li {
			min-width: 180px;
			transition: all 0.3s;

			a {
				padding: 10px;
				color: rgb(46, 44, 44);
				transition: 0.3s;
				display: block;
				font-size: 0.92rem;
				text-transform: none;
				&:hover {
					color: $cyan;
				}
			}
		}
	}

	li {
		position: relative;
		white-space: nowrap;
		height: 96%;

		&:hover>ul {
			display: block;
			transform: scale(1);
		}
	}

	>li {
		margin-left: 10px;
	}


	a {
		padding: 0 8px 10px 6px;
		text-decoration: none;
		display: inline-block;
		color: $white;
		font-family: "Montserrat", sans-serif;
		font-weight: 500;
		font-size: 1rem;
		text-transform: capitalize;
		outline: none;
		&:hover {
			color: $cyan;
		}
		}
		}

		.nav_menu_container {
			@media screen and (max-width:600px) {
				display: none;
				opacity: 0;
				transform: scale(0);
			}
		}

		/* Mobile Nav Styling */

		.mobile-nav {
			position: fixed;
			top: 84px;
			padding: 1.4rem 0 0 1rem;
			bottom: 24px;
			z-index: 998;
			background: $dark-blue;
			left: 50%;
			transform: translateX(-50%) scale(0);
			width: 380px;
			box-shadow: 0 3px 28px rgba(0, 0, 0, 0.18);
			overflow-y: auto;
			transition: all 0.44s;

			ul {
				padding: 0;
				margin: 0;
				list-style: none;
			}

			li {
				position: relative;
			}

			li a {
				font-size: 1rem;
				text-align: center;
				text-transform: capitalize;
				overflow: hidden;
				padding: 6px 1.2rem;
				position: relative;
				text-decoration: none;
				width: 100%;
				display: block;
				outline: none;
				font-weight: 600;
				font-family: "Montserrat", sans-serif;

				&:hover {
					color: $cyan;
				}

			}

			@media screen and (max-width: 620px) {

				&.active {
					transform: translateX(-50%) scale(1);
				}

}
}
